.contents{
    // .contents_1
    &_1{padding: 10rem 0 13rem;
        &>*{font-family: $fontK;}
        &_ul{display: flex;}
        &_li{width: 31.333333333%; margin-right: 3%;
            a{display: block; width: 100%;
                img{width: 100%; transition: all 1s;}
            }
        }
        &_li:last-child{margin-right: 0;}
        &_img_box{overflow: hidden; transition: all 1s;}
        &_text_box{padding-top: 4rem;}
        &_news{display: block; font-size: 1.4rem; font-weight: 600; color: $colorB; letter-spacing: -.05rem; margin-bottom: 1.5rem; text-transform: uppercase;}

        &_title{font-size: 2.5rem; font-weight: bold; color: $colorB; letter-spacing: -.1rem; text-overflow: ellipsis; overflow: hidden; word-break: keep-all; line-height: 4.6rem;}

        &_text{font-size: 1.6rem; font-weight: 400; letter-spacing: -.1rem; color: $colorB; text-overflow: ellipsis; overflow: hidden; height: 10.2rem; line-height: 3.4rem; margin-top: 1rem; word-break: keep-all;}

        // &_title{font-size: 2.5rem; font-weight: bold; color: $colorB; letter-spacing: -.1rem; text-overflow: ellipsis; overflow: hidden; word-break: keep-all; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 4.6rem;}
        
        // &_text{font-size: 1.6rem; font-weight: 400; letter-spacing: -.1rem; color: $colorB; display: -webkit-box; text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 3; -webkit-box-orient: vertical; height: 10.2rem; line-height: 3.4rem; margin-top: 1rem; word-break: keep-all;}

        // hover
        &_li>a:hover &_img_box{box-shadow: 1.5rem 1.5rem 2rem rgba($color: #000000, $alpha: .2); overflow: hidden; transition: all 1s;}
        &_li>a:hover img{transform: scale(1.1); transition: all 1s;}
    }
    @include mq('small-screen-1'){
        &_1{width: 100%; padding: 10rem 4rem 13rem;
            &_title{font-size: 2rem; line-height: 4rem; height: 8rem;}
            &_text{font-size: 1.4rem; line-height: 3.2rem; height: 9.6rem;}
        }
    }
    @include mq('small-screen-2'){
        &_1{width: 100%; padding: 10rem 4rem 13rem;
            &_title{font-size: 2rem; line-height: 4rem; height: 8rem;}
            &_text{font-size: 1.4rem; line-height: 3.2rem; height: 9.6rem;}
        }
    }
    @include mq('tablet-screen-1'){
        &_1{width: 100%; padding: 10rem 2rem 13rem;
            &_title{font-size: 2rem; line-height: 4rem; height: 8rem;}
            &_text{font-size: 1.4rem; line-height: 3.2rem; height: 9.6rem;}
        }
    }
    @include mq('tablet-screen-2'){
        &_1{width: 100%; padding: 7rem 6.45rem;
            &_ul{display: block;}
            &_li{width: 100%; margin-right: 0; margin-bottom: 4rem;}
            &_title{font-size: 1.8rem; line-height: 4rem; height: 8rem;}
            &_text{font-size: 1.4rem; line-height: 3.2rem; height: 9.6rem; margin-top: 0;}
        }
    }
    @include mq('mobile-screen-1'){
        &_1{width: 100%; padding: 7rem 2rem;
            &_ul{display: block; margin:0 2.35rem 4rem;}
            &_li{width: 100%;margin-right: 0; margin-bottom: 4rem;}
            &_text_box{padding-top: 2rem;}
            &_news{font-size: 1.3rem; margin-bottom: .5rem;}
            &_title{font-size: 1.6rem; line-height: 2.8rem; height: 5.6rem; margin-bottom: 1.2rem;}
            &_text{font-size: 1.3rem; line-height: 2.5rem; height: 7rem; margin-top: 0;}
        }
    }
    // ==.contents_1
    // .contents_2
    &_2{background: url(../img/con02_bg.jpg); padding: 10.5rem 0 13rem; position: relative;
        &_img{margin-bottom: 6.5rem;
            img{display: block; margin: auto;}
        }
        &_ul{display: flex;}
        &_li{width: 20%; text-align: center; height: 23.5rem;
            a{display: block; width: 18rem; height: 18rem; margin: auto;}
        }
        &_img_people{border-radius: 50%; overflow: hidden; box-shadow: 2rem 2rem 2.4rem rgba(0, 0, 0, .5); position: relative; transition: all .3s;
            img{height: 100%; border-radius: 50%; position: relative;}
            &::after{position: absolute; content: ''; display: block; width: 18rem; height: 18rem; top: 0; transition: all .3s;}
            span{text-transform: uppercase; position: absolute; display: block; width: 9.6rem; height: 3rem; line-height: 3rem; text-align: center; color: $colorW; background-color: #0c0c0c; font-weight: 500; font-size: 1.4rem; opacity: 0; transition: all .5s; transition-delay: .1s; z-index: 1;}
            &>.view{left: -2rem; top: 45%; transform: translate(-2rem, -2rem) rotate(-15deg);}
            &>.go{right: -2rem; bottom: 13%; transform: translate(2rem, 2rem) rotate(-15deg);}
        }
        &_img_name{margin-top: 3rem;}
        .container{position: relative; z-index: 1;}
        &::after{content: ''; display: block; width: 61.6rem; height: 66.9rem; background: url(../img/con02_logo.png); position: absolute; bottom: 0; right: 6rem;}
        &_li a:hover &_img_people{transform: translate(0,-3rem); box-shadow: 5rem 5rem 2.8rem rgb(0 0 0 / 50%); transition: all .7s;}
        &_li a:hover span{opacity: 1; transform: translate(0,0) rotate(-15deg);}
        &_li a:hover &_img_people::after{background-color: rgba(246,27,237,0.7); transition: all .3s;}
    }
    @include mq("small-screen-1"){
        &_2{padding: 10.5rem 0 13rem;
            .container{padding: 0 4rem; width: 100%;}
            &_img{margin-bottom: 0;}
            &_ul{flex-wrap: wrap;}
            &_li{width: 33.33333333%; margin-top: 5rem;}
        }
    }
    @include mq("small-screen-2"){
        &_2{padding: 10.5rem 0 13rem;
            .container{padding: 0 4rem; width: 100%;}
            &_img{margin-bottom: 0;}
            &_ul{flex-wrap: wrap;}
            &_li{width: 33.33333333%; margin-top: 5rem;}
        }
    }
    @include mq("tablet-screen-1"){
        &_2{padding: 10.5rem 0 13rem;
            .container{padding: 0 2rem; width: 100%;}
            &_img{margin-bottom: 0;}
            &_ul{flex-wrap: wrap;}
            &_li{width: 33.33333333%; margin-top: 5rem;}
        }
    }
    @include mq("tablet-screen-2"){
        &_2{padding: 7rem 0;
            .container{padding: 0 2rem; width: 100%;}
            &_img{margin-bottom: 0;
                img{width: 16rem;}
            }
            &_ul{flex-wrap: wrap;}
            &_li{width: 50%; margin-top: 5rem;}
            &_img_name img{height: 1.5rem;}
            &::after{width: 30rem; height: 32.6rem; background-size: 100% 100%; right: 0;}
        }
    }
    @include mq("mobile-screen-1"){
        &_2{padding: 7rem 0;
            .container{padding: 0 2rem; width: 100%;}
            &_img{margin-bottom: 0;
                img{width: 16rem;}
            }
            &_ul{flex-wrap: wrap;}
            &_li{width: 50%; margin-top: 5rem; height: auto;}
            &_img_people{ width: 12rem; margin: auto;
                img{width: 12rem;}
            } 
            &_img_name img{height: 1.5rem;}
            &::after{width: 30rem; height: 32.6rem; background-size: 100% 100%; right: 0;}
        }
    }
    // ==.contents_2
    // .contents_3
    &_3{padding: 12rem 0;
        &_title{margin-bottom: 3rem; text-transform: uppercase; font-size: 4.8rem; color: $colorB; letter-spacing: -.1rem; font-family: $fontE; font-weight: bold;}
        &_video{display: flex;
            &_R{ width: 65.5%; margin-right: 3%;}
            &_text{margin-top: 2rem; border-top: .2rem solid #313131; padding-top: 2rem;
                &_sub_title{font-size: 1.6rem; font-weight: 600; font-family: $fontK; letter-spacing: -.05rem; color: $colorB; margin-bottom: 1.5rem;}
                &_title{font-size: 3.2rem; font-weight: bold; font-family: $fontK; letter-spacing: -.1rem; color: $colorB; word-break: keep-all;}
            }
            &_L{width: 31.5%;}
            &_ul{width: 100%;}
            &_li{width: 100%; margin-bottom: 1.6rem;
                a{display: flex;}
                img{width: 45%; margin-right: 5%;}
                span{width: 50%; margin: auto; font-size: 1.6rem; font-weight: 400; letter-spacing: -.05rem; color: $colorB; line-height: 2.5rem; font-family: $fontK;}
            }
            &_li:last-child{margin-bottom: 0;}
        }
        @include mq('small-screen-1'){
            padding: 12rem 0;
            .container{width: 100%; padding: 0 4rem;}
            &_video{ flex-wrap: wrap;
                &_R{width: 100%; padding: 0 10.6rem;}
                &_box{
                    iframe{margin: 0 auto;}
                }
                &_L{width: 100%; padding: 5rem 10.6rem 0;}
                &_li{
                    img{margin-right: 3rem; width: 18rem;}
                    span{margin: auto 0; width: auto;}
                }
            }
        }
        @include mq('small-screen-2'){
            padding: 12rem 0;
            .container{width: 100%; padding: 0 4rem;}
            &_video{ flex-wrap: wrap;
                &_R{width: 100%;}
                &_box{
                    iframe{margin: 0 auto;}
                }
                &_L{width: 100%;}
                &_li{
                    img{margin-right: 3rem; width: 18rem;}
                    span{margin: auto 0; width: auto;}
                }
            }
        }
        @include mq('tablet-screen-1'){
            padding: 12rem 0;
            .container{width: 100%; padding: 0 2rem;}
            &_title{font-size: 3.6rem;}
            &_video{ flex-wrap: wrap;
                &_R{width: 100%;}
                &_box{
                    iframe{margin: 0 auto;}
                }
                &_L{width: 100%;}
                &_li{
                    img{margin-right: 3rem; width: 18rem;}
                    span{margin: auto 0; width: auto;}
                }
            }
        }
        @include mq('tablet-screen-2'){
            padding: 7rem 0;
            .container{width: 100%; padding: 0 2rem;}
            &_title{font-size: 3.6rem;}
            &_video{ flex-wrap: wrap;
                &_R{width: 100%;}
                &_box{ width: 100%;
                    iframe{margin: 0 auto; width: 100%;}
                }
                &_text_title{font-size: 2.5rem; line-height: 3.2rem;}
                &_L{width: 100%; margin-top: 5rem;}
                &_li{
                    img{margin-right: 3rem; width: 18rem;}
                    span{margin: auto 0; width: auto; font-size: 1.4rem;}
                }
            }
        }
        @include mq('mobile-screen-1'){
            padding: 5rem 0;
            .container{width: 100%; padding: 0 2rem;}
            &_title{font-size: 2.6rem;}
            &_video{ flex-wrap: wrap;
                &_R{width: 100%;}
                &_box{ width: 100%;
                    iframe{margin: 0 auto; width: 100%;}
                }
                &_text_sub_title{font-size: 1.3rem; margin-bottom: .5rem;}
                &_text_title{font-size: 1.6rem; line-height: 3rem;}
                &_L{width: 100%; margin-top: 5rem;}
                &_li{
                    img{margin-right: 3rem; width: 18rem;}
                    span{margin: auto 0; width: auto; font-size: 1.3rem; line-height: 2.2rem;}
                }
            }
        }
    }

    // ==.contents_3
    // .contents_4
    &_4{background: url(../img/con04_bg.jpg); padding: 6rem 0;
        *{color: $colorW; font-family: $fontK;}
        &_name{font-size: 2rem; font-weight: 500; letter-spacing: -.1rem; margin-bottom: 1rem;}
        &_title{font-size: 2.6rem; font-weight: bold; letter-spacing: -.1rem; /* line-height: 4.6rem; */
            span{font-weight: 600; font-size: 3.6rem;}
        }
        &_text{margin: 1.5rem 0 4rem; font-size: 1.6rem; font-weight: 500; letter-spacing: -.05rem;
            .line{display: inline-block; width: 5.3rem; height: .1rem; background-color: #d9e7ed; margin: 0 1.3rem .5rem;}
            span:last-child{font-weight: 300;}
        }
        &_btn{display: block; padding: 1.2rem 5rem; border: .2rem solid $colorW; border-radius: 1.5rem; font-weight: 500; font-size: 1.6rem; width: 21.2rem; height: 5.2rem; overflow: hidden; transition: all .4s; position: relative;  z-index: 1; letter-spacing: -.1rem; text-align: center;
        // hover
        &::after{content: ''; display: block; background-color: $colorW; width: 30rem; height: 30rem; position: absolute; border-radius: 50%; left: -22%; top: -256%; transform: scale(0); transition: all 1s; z-index: -1;}
        }
        &_btn:hover{color: $colorB; transition: all .4s;}
        &_btn:hover::after{transform: scale(1); transition: all 1s;}
        @include mq("small-screen-1"){
            background-position: right -30rem center;
            .container{padding: 0 4rem; width: 100%;}
        }
        @include mq("small-screen-2"){
            background-position: right -30rem center;
            .container{padding: 0 4rem; width: 100%;}
        }
        @include mq("tablet-screen-1"){
            background-position: right -40rem center;
            .container{padding: 0 2rem; width: 100%;}
            &_name{font-size: 1.6rem;}
            &_title{font-size: 2rem;
                span{font-size: 2.8rem;}
            }
            &_text{font-size: 1.4rem;}
            &_btn{padding: 1.2rem 3rem; width: 17.4rem; height: 5.2rem;
                &::after{left: -38%;}
            }
        }
        @include mq("tablet-screen-2"){
            padding: 4rem 0;
            background-position: right -40rem center;
            .container{padding: 0 2rem; width: 100%;}
            &_name{font-size: 1.6rem; margin-bottom: 0rem;}
            &_title{font-size: 2rem;
                span{font-size: 2.8rem;}
            }
            &_text{font-size: 1.4rem;}
            &_btn{padding: 1.2rem 3rem; width: 17.4rem; height: 5.2rem;
                &::after{left: -38%;}
            }
        }
        @include mq("mobile-screen-1"){
            padding: 4rem 0;
            background-position: right -20rem center;
            background-size: auto 100%;
            .container{padding: 0 2rem; width: 100%;}
            &_name{font-size: 1.6rem; margin-bottom: 0rem;}
            &_title{font-size: 2rem;
                span{font-size: 2.8rem;}
            }
            &_text{font-size: 1.4rem;}
            &_btn{padding: 1.2rem 3rem; width: 17.4rem; height: 5.2rem;
                &::after{left: -38%;}
            }
        }
    }

    // ==.contents_4
}