@mixin mq($screen-width){
    @if $screen-width == 'small-screen-1'{
        @media screen and (min-width:901px) and (max-width:1216px) {
            @content;
        }
    } @else if $screen-width == 'small-screen-2'{
        @media screen and (min-width:801px) and (max-width:900px) {
            @content;
        }
    } @else if $screen-width == 'tablet-screen-1'{
        @media screen and(min-width:641px) and (max-width:800px) {
            @content;
        }
    } @else if $screen-width == 'tablet-screen-2'{
        @media screen and (min-width:541px) and (max-width:640px) {
            @content;
        }
    } @else if $screen-width == 'mobile-screen-1'{
        @media screen and (max-width:540px) {
            @content;
        }
    }
}

@mixin clearfix() {
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}